@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.card-label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-left: 30%;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    /*border-radius: 20%;*/

}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
        border:solid darkblue 0px;
        /*border-radius: 20%;*/
       
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .info-card{
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        position: relative; 
        left:120%;
        top:50%;
        width: 300%;
        display: none;
        font-weight: bold;
        font-size: large;
        color: black;
    }

label:hover .card {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}


:checked + .card  {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    
    

}


